<div class="review-container">
    <div class="content">
    <mat-card class="example-card" appearance="outlined">
        <div class="card-content-wrapper">
            <!-- Left: Image -->
            <div class="card-image">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Shiba Inu" />
            </div>
            <!-- Right: Content -->
            <div class="card-text">
                <mat-card-header>
                    <mat-card-title>Delicious Pasta</mat-card-title>
                    <mat-card-subtitle>⭐⭐⭐⭐⭐</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        This is the content of the card. You can include detailed information, descriptions, or any text
                        here.
                    </p>
                </mat-card-content>
            </div>
        </div>
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
        <img class="second-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
      </div>

    <app-tab-bar-view></app-tab-bar-view>

</div>