<div class="container">
  <div class="background image"></div>
  <div class="inner-wrapper">
    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text" placeholder="Toronto, ON" />
      <span class="search-icon">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <!-- Medium Card -->
    <div class="card">
      <div class="card-content">
        <div>
          <img src="assets/icecream.jpg" alt="Orange Ice" />
        </div>
        <div class="text-content">
          <p>Orange Ice Cream 50% OFF</p>
        </div>
      </div>
      <div class="cta-btn">
        <button class="cta-button">Let's get it!</button>
      </div>
    </div>
    <app-tab-bar-view></app-tab-bar-view>
  </div>
</div>