<div class="container">
  <div class="inner-wrapper">
    <!-- Location Section -->
    <div class="location-container">
      <span class="location-icon">
        <i class="fa fa-map-marker"></i>
      </span>
      <span class="location-text">Park, Toronto</span>
    </div>

    <!-- Search Bar -->
    <div class="search-bar">
      <input [(ngModel)]="search_term" type="text" placeholder="Search by foods" />
      <span class="search-icon">
        <i class="fa fa-search"></i>
      </span>

      <!-- Autocomplete -->
      <ul *ngIf="search_term && filtered_suggestions.length > 0" class="autocomplete-list">
        <li *ngFor="let suggestion of filtered_suggestions" (click)="navigateToUrl()">
          {{ suggestion }}
        </li>
      </ul>
    </div>

    <!-- Good Deals Section -->
    <div class="good-deals">
      <div class="title-texts">
        <span>Good Deals</span>
        <span class="see-all">See all ></span>
      </div>
      <div class="gd-content">
        <div class="gd-images" *ngFor="let deal of good_deals">
          <img [src]="deal.src" [alt]="deal.alt" />
        </div>
      </div>
    </div>

    <!-- Explore the Neighborhood  -->
    <div class="explore-neighbourhood">
      <div class="title-texts">
        <span>Explore the Neighborhood</span>
        <span class="see-all">See all ></span>
      </div>
      <div class="en-content">
        <div class="en-images" *ngFor="let neighborhood of explore_neighborhood">
          <img [src]="neighborhood.src" [alt]="neighborhood.alt" />
        </div>
      </div>
    </div>
    <app-tab-bar-view></app-tab-bar-view>
  </div>
</div>