.container {
  background-color: lightyellow;
  height: 100%;
}

.location-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.location-icon {
  font-size: 18px;
  margin-right: 5px;
  color: orange;
}

.location-text {
  font-size: 16px;
  color: #333;
}

.search-bar {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.search-bar input {
  width: 100%;
  padding: 10px 0;
  text-indent: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.search-bar .search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.good-deals {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.title-texts {
  display: flex;
  justify-content: space-between;
}

.see-all {
  color: orange;
  cursor: pointer;
}

.gd-content,
.en-content {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 10px 0;
}

.gd-images {
  display: inline-block;
  width: 300px;
  height: 250px;
  background-color: orange;
  margin-right: 20px;

  @media (max-width: 768px) {
    width: 150px;
    height: 160px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.explore-neighbourhood {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.en-content {
  margin-top: 20px;
}

.en-images {
  display: inline-block;
  width: 700px;
  height: 250px;
  margin-right: 20px;

  @media (max-width: 768px) {
    width: 250px;
    height: 170px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  list-style-type: none;
  padding: 0;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.autocomplete-list li:hover {
  background-color: lightgray;
}