<div class="container">
  <!-- Location Text and Icon (at the top) -->
  <div class="location-container">
    <span class="location-icon">
      <i class="fa fa-map-marker"></i>
    </span>
    <span class="location-text">Park, Toronto</span>
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search..." />
    <span class="search-icon">
      <i class="fa fa-search"></i>
    </span>
  </div>

  <!-- Good Deals Text -->
  <div class="good-deals">
    <span>Good Deals</span>
  </div>

  <!-- Orange Boxes Section -->
  <div class="orange-boxes">
    <div class="orange-box">
      <img src="path/to/your/image1.jpg" alt="Deal 1" />
    </div>
    <div class="orange-box">
      <img src="path/to/your/image2.jpg" alt="Deal 2" />
    </div>
    <div class="orange-box">
      <img src="path/to/your/image3.jpg" alt="Deal 3" />
    </div>
  </div>

    <!-- Explore the Neighborhood Text -->
    <div class="explore-text">
      <span>Explore the Neighborhood</span>
    </div>
  
    <!-- Yellow Boxes Section -->
    <div class="yellow-boxes">
      <div class="yellow-box">
        <img src="path/to/your/image1.jpg" alt="Neighborhood 1" />
      </div>
      <div class="yellow-box">
        <img src="path/to/your/image2.jpg" alt="Neighborhood 2" />
      </div>
      
    </div>

  <!-- Tab Bar -->
  <app-tab-bar-view></app-tab-bar-view>
</div>
