<div class="container">
    <div class="inner-wrapper">
        <mat-card class="card first-card" appearance="outlined">
            <div class="card-content-wrapper">
                <div class="card-image">
                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Shiba Inu" />
                </div>
                <div class="card-text">
                    <mat-card-header>
                        <mat-card-title>Pizza Lover</mat-card-title>
                        <mat-card-subtitle>⭐⭐⭐⭐⭐</mat-card-subtitle>
                    </mat-card-header>
                </div>
            </div>
        </mat-card>
        <mat-card class="card" appearance="outlined">
            <img class="second-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>The Pizza was amazing... I can eat this pizza every day I want to eat it again next time</p>
            </mat-card-content>
        </mat-card>
        <app-tab-bar-view></app-tab-bar-view>
    </div>
</div>